html, body {
    /* background-color: rgb(245, 243, 241) !important; */
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#header {
    background-color: #55535e;
    color: white;
    border-radius: 0px;
}

.ui.small.inverted.pointing.secondary.stackable.borderlessMenu.menu {
    border: 0px
}

.textAlignCenter {
    text-align: center
}

.messageBox {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pointerCursor:before {
    cursor: pointer;
    margin: 0 0 0 0.5em
}

.ui.fluid.input>input {
    width: auto !important
}

#bodyWrapper {
    /* margin-left: 1em;
    margin-right: 1em; */
    padding-top: 2em;
}

.middle.aligned.row.paddingTopAndBottomSmall {
    padding-top: 0.5em;
    padding-bottom: 0.5em
}

.paddingTopAndBottomSmall {
    padding-top: 0.25em;
    padding-bottom: 0.25em
}

.iconMargin:before {
    margin-left: 0.5em;
    margin-right: 0.3em;
}

.ui.huge.icon.button.buttonIconPadding {
    padding: 0.3em
}

.ui.large.icon.button.buttonIconPadding {
    padding: 0.3em
}

.ui.medium.icon.button.buttonIconPadding {
    padding: 0.3em
}

div.generic.table {
    overflow: hidden;

    .RecordsPerPage > input {
        width: 4.5em;
    }

    .column.toggles .label {
        cursor: pointer;
    }

    .scroll-wrapper {
        overflow: auto;
        margin: 0.5em 0 0.8em;
    }

    table {
        td {
            // white-space: nowrap;
        }
        ul {
            margin: 0;
            list-style: none;
            padding: 0 0 0 1em;
        }
    }

    .pagination {
        position: sticky;
        right: 0;
    }
}

/* .buttonIconPadding:before {
    padding: 0.3em
} */

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#primaryButton {
    background-color: #f20056;
    color: white
}

.primaryButton {
    background-color: #f20056 !important;
    color: white !important
}

#tercialButton {
    background-color: #f2005696;
    color: white
}

#secondaryButton {
    background-color: #76767691;
    color: white
}

.ui.large.fluid.primary.button.loginButton {
    background-color: #336699;
}

.ui.large.fluid.primary.button.loginButton:hover {
    background-color: #336699c4;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
}

dt {
    font-weight: 700;
}

dd, dt {
    line-height: 1.42857143;
    box-sizing: border-box;
}

dd {
    margin-left: 0;
}

.dl-horizontal dd:after, .dl-horizontal dd:before {
    display: table;
    content: " "
}

.ui.fluid.icon.positive.right.labeled.button {
    margin-left: 0
}

.ui.fluid.icon.right.labeled.button {
    margin-left: 0
}

.dl-horizontal dd:after {
    clear: both
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dl-horizontal dd {
        margin-left: 180px;
    }
}

.marginTopAndBottomBig {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.middle.aligned.row.paddingTopAndBottomMedium {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.ui.divider.marginTopAndBottomSmall {
    margin-top: 0.2em !important;
    margin-bottom: 0.2em !important;
}

.four.column.row.noPaddingTopAndBottom {
    padding-top: 0px;
    padding-bottom: 0px;
}

.column.smallFontSize {
    font-size: 0.8em !important
}

div.actions.zaslatActions {
    text-align: center !important;
}

div.column.bank {
    padding-left: 3em;
    padding-right: 3em
}