<div class="modal">
        <div class="modal-dialog" style="width: 50%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> <strong> Product chart selector </strong> </h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <button type="button" class="btn btn-default btn-xs" ng-repeat="product in addedProducts"
                                    ng-click="remove(product)"
                                    style="margin-left: 0.35em; margin-right: 0.35em">
                                    {{product}} &nbsp;
                                    <span>
                                        <a>
                                            <i class="glyphicon glyphicon-remove" data-title="Remove from chart" bs-tooltip></i>
                                        </a>
                                    </span>
                                </button>
                            </div>

                            <hr>

                            <div class="row">
                                <button type="button" class="btn btn-default btn-xs" ng-repeat="product in notAddedProducts"
                                    ng-click="add(product)"
                                    style="margin-left: 0.35em; margin-right: 0.35em">
                                    {{product}} &nbsp;
                                    <span>
                                        <a>
                                            <i class="glyphicon glyphicon-plus" data-title="Add to chart" bs-tooltip></i>
                                        </a>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
                    <button type="button" class="btn btn-default" ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </div>