<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <strong> Warning! </strong> </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-10">
                        Sửa đổi hàng này sẽ xoá khách tu xếp hàng
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="confirm()">Confirm</button>
                <button type="button" class="btn btn-default" ng-click="close()">Close without edit</button>
            </div>
        </div>
    </div>
</div>