<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <strong> Manage Senders </strong> </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-10">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4" for="street"><strong>Sender:</strong></label>
                                <div class="col-sm-8">
                                    <select class="form-control input-sm"
                                            ng-options="option.company for option in senders track by option.id"
                                            ng-model="selectedSender">
                                    </select>
                                </div>
                                </br>
                                </br>
                                <label class="col-sm-4" for="street">Street</label>
                                <div class="col-sm-8">
                                    <input id="street" type="text"
                                        placeholder="Street" class="form-control input-sm" ng-model="selectedSender.street"/>
                                </div>

                                <label class="col-sm-4" for="street">Street number</label>
                                <div class="col-sm-8">
                                    <input id="street" type="text"
                                        placeholder="Street number" class="form-control input-sm" ng-model="selectedSender.street_number"/>
                                </div>

                                <label class="col-sm-4" for="city">City</label>
                                <div class="col-sm-8">
                                    <input id="city" type="text" ng-model="selectedSender.city"
                                        placeholder="City" class="form-control input-sm"/>
                                </div>

                                <label class="col-sm-4" for="city">Zip code</label>
                                <div class="col-sm-8">
                                    <input id="city" type="text" ng-model="selectedSender.zip"
                                        placeholder="Zip" class="form-control input-sm"/>
                                </div>

                                <label class="col-sm-4" for="firstName">First Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" id="firstName"
                                        placeholder="First name" ng-model="selectedSender.firstname">
                                </div>

                                <label class="col-sm-4" for="lastName">Last Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" id="lastName"
                                        placeholder="Last name" ng-model="selectedSender.lastname">
                                </div>

                                <label class="col-sm-4">Phone number</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" placeholder="Phone number" ng-model="selectedSender.phone_number">
                                </div>

                                <label class="col-sm-4">Company</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" placeholder="Company" ng-model="selectedSender.company">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
            </div>
        </div>
    </div>
</div>