<div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> <strong> Send email </strong> </h4>
                </div>

                <div class="modal-body">
                    <div class="alert alert-info" role="alert" ng-show="sendingEmail">
                        <strong>Sending email..</strong>
                    </div>
                    <div class="alert alert-success" role="alert" ng-show="!sendingEmail && success && !error">
                        <strong>Email sent!</strong>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="!sendingEmail && !success && error">
                        <strong>Error:</strong>
                        {{zaslatError}}
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="subject">Subject: </label>
                            <input type="text" class="form-control" placeholder="Subject" ng-model="email.subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="to">To: </label>
                            <select name="singleSelect" class="form-control" ng-model="email.to">
                                <!-- <option value="hlasenska@medpharma.cz">hlasenska@medpharma.cz</option>
                                <option value="obchody.milota@seznam.cz">obchody.milota@seznam.cz</option> -->
                                <option value="tomasmocek92@gmail.com">tomasmocek92@gmail.com</option>
                                <option value="t.mocek@seznam.cz">t.mocek@seznam.cz</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Message:</label>
                            <textarea rows="10" class="form-control" id="message-text" placeholder="Body" ng-model="email.body"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="to" class="control-label">Address: </label>
                            <select ng-model="bodyAttributes.address" class="form-control" ng-options="s as s for s in senders"></select>
                        </div>

                        <div class="form-group">
                            <label for="subject">Products: </label>
                            <div ng-repeat="product in bodyAttributes.products">
                                <div class="row">
                                    <div class="col-sm-5" ng-class="{'has-error': incorrectProducts.indexOf($index) >= 0}" style="padding-right: 0px" bs-tooltip="'Product name'">
                                        <select ng-model="product.productName" class="form-control" ng-options="p as p for p in allProductNames"
                                            placeholder="Select product">
                                            <option value="" disabled>Select product<option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2" style="padding-left: 0px; padding-right: 0px" bs-tooltip="'Count'">
                                        <input type="number" class="form-control" min="1" ng-model="product.count"
                                            placeholder="Count">
                                    </div>
                                    <div class="col-sm-1" style="padding-left: 0px">
                                        <button ng-if="!$last" class="btn btn-default" data-placement="bottom" bs-tooltip="'Remove this product'">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
                    <button type="button"
                    ng-disabled="!email.subject || email.subject.length == 0 || !email.to || email.to.length == 0
                        || !email.body || email.body.length == 0 || sendingEmail || incompleteProducts()"
                    class="btn btn-default" ng-click="sendEmail()">Send</button>
                </div>
            </div>
        </div>
    </div>