<div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> <strong> Send email </strong> </h4>
                </div>

                <div class="modal-body">
                    <div class="alert alert-info" role="alert" ng-show="sendingEmail">
                        <strong>Sending email..</strong>
                    </div>
                    <div class="alert alert-success" role="alert" ng-show="!sendingEmail && success && !error">
                        <strong>Email sent!</strong>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="!sendingEmail && !success && error">
                        <strong>Error:</strong>
                        {{zaslatError}}
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="subject">Subject: </label>
                            <input type="text" class="form-control" placeholder="Subject" ng-model="email.subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="to">To: </label>
                            <input type="email" class="form-control" placeholder="To - Must be a valid email address"
                                ng-model="email.to" id="to" required>
                        </div>
                        <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea rows="5" class="form-control" id="message-text" placeholder="Body" ng-model="email.body"></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
                    <button type="button"
                    ng-disabled="!email.subject || email.subject.length == 0 || !email.to || email.to.length == 0
                        || !email.body || email.body.length == 0 || sendingEmail"
                    class="btn btn-default" ng-click="sendEmail()">Send</button>
                </div>
            </div>
        </div>
    </div>