<div class="row">
    <div class="col-sm-12">
        </br>
        <div class="well well-sm">
            <h3>Shipment</h3>
            </br>
            <form class="form-horizontal">
                    <label>
                        <input type="radio" ng-model="shipment.type" value="ONDEMAND">
                        Quick
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="shipment.type" value="OCCASIONAL">
                        Slow
                    </label>
            </form>
        </div>
    </div>
</div>