<div ng-if="loading" class="col-sm-2 col-sm-offset-5" style="position: fixed; margin-top: 20em; z-index: 999999">
    <img src="loading.svg" width="40" height="40" style="margin-left: 6.5em"/>
</div>

<div class="container-fluid"
	ng-style="{'z-index' : isMobile ? 0 : 2, 'top': isMobile ? '0em' : '3.7em', 'position': isMobile ? 'relative' : 'fixed'}"
    style="background: white; left: 0; right: 0; padding-left: 3%; padding-right:3%;">
    <div class="row" style="padding-top: 1em">
		<div class="col-sm-1"></div>
		<div class="col-sm-4">
            <h1>Bank</h1>
            <h3>Account balance: {{bankAccountInfo.closingBalance}} {{bankAccountInfo.currency}}</h3>
        </div>
        <div class="col-sm-3 alert alert-info" role="alert" ng-show="addedCost">
            Cost with value <strong>{{addedCost.cost}}</strong> was added.
            </br>
            Please, check <strong><a href="/costs">Costs</a></strong> for more info!
        </div>
        <div class="col-sm-2" style="float: right">
            <input type="text" ng-model="filter" class="form-control input-sm" placeholder="Filter Transactions"
                ng-show="!isMobile" style="margin-top: 1em">
        </div>
    </div>

    <div class="row" ng-show="!isMobile">
        <div class="col-sm-1"></div>
	    <div class="col-sm-10">
            <div class="col-sm-1" style="text-align: center"></div>
	        <div class="col-sm-2" style="text-align: center">
	            <h3>Date</h3>
	        </div>
	        <div class="col-sm-2" style="text-align: center">
	        	<h3>Value</h3>
	        </div>
	        <div class="col-sm-1" style="text-align: center">
	        	<h3>VS</h3>
            </div>
            <div class="col-sm-5" style="text-align: center">
	        	<h3>Comment</h3>
            </div>
            <div class="col-sm-1" style="text-align: center">
                <h3>Actions</h3>
            </div>
	    </div>
	    <div class="col-sm-1"></div>
    </div>
</div>
<div class="container-fluid"
	ng-style="{'z-index' : isMobile ? 0 : 1, 'top': isMobile ? '0em' : '17em'}" style="position: relative; margin-left: 3%; margin-right:3%">

    <div class="row" ng-repeat="t in filteredTransactions(transactions)">
		<div class="col-sm-1"></div>
	    <div class="col-sm-10">
	        <div class="row" style="background-color: {{getBackgroundColor(t)}}">
                <div class="col-sm-1">
                    <div class="col-sm-6">
                        <span class="glyphicon glyphicon-warning-sign" style="font-size: 1em; float: left; color: orange"
                            bs-tooltip="createWarningTooltip(t.vs, t.value)" data-placement="bottom" ng-show="isIncorrectTransactionValue(t.vs, t.value)"></span>
                    </div>
                    <div class="col-sm-6" style="text-align: center">{{$index + 1}}.</div>
                </div>
	            <div class="col-sm-2" style="text-align: center;">
                    <span ng-show="isMobile"><small>Date: </small></span>
                    {{t.date | date:'dd.MM.yyyy'}}
                </div>
                <div class="col-sm-2" style="text-align: center">
                    <span ng-show="isMobile"><small>Value: </small></span>
                    {{t.value}} {{bankAccountInfo.currency}}
                </div>
                <div class="col-sm-1" style="text-align: center; padding-left: 0px; padding-right: 0px">
                    <span ng-show="isMobile"><small>VS: </small></span>
                    {{t.vs}}
                </div>
                <div class="col-sm-5" style="text-align: center">
                    <span ng-show="isMobile"><small>Comment: </small></span>
                    {{t.comment}}
                </div>
                <div class="col-sm-1">
                    <span class="glyphicon glyphicon-info-sign" style="font-size: 1em;" ng-show="t.value >= 0"
                        bs-tooltip="createTooltip(t.vs, t.value)" data-placement="bottom"></span>
                    <button class="btn btn-default btn-xs" data-placement="bottom" ng-click="$event.stopPropagation(); setPaid(t.vs)"
                            bs-tooltip="'Mark order with this VS as Paid'" ng-show="isReadyToSetPaid(t.vs, t.value)">
                        <span class="glyphicon glyphicon-ok" style="font-size: 1em"></span>
                    </button>
                    <button class="btn btn-default btn-xs" data-placement="bottom" ng-click="$event.stopPropagation(); addCost(t)"
                            bs-tooltip="'Add this item to Costs'" ng-show="t.value < 0">
                        <span class="glyphicon glyphicon-euro" style="font-size: 1em"></span>
                    </button>
                </div>
	        </div>
	        <hr style="margin-top: 0px; margin-bottom: 0px; border-color: gray; margin-left: -1em; margin-right: -1em" ng-if="!$last">
	    </div>
	    <div class="col-sm-1">
    	</div>
    </div>

    <br/><br/><br/><br/>
</div>