<div class="container-fluid"
	ng-style="{'z-index' : isMobile ? 0 : 2, 'top': isMobile ? '0em' : '3.7em', 'position': isMobile ? 'relative' : 'fixed'}"
    style="background: white; left: 0; right: 0; padding-left: 3%; padding-right:3%;">
    <div class="row" style="padding-top: 1em">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-7">
            <h1>Charts</h1>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
<div class="container-fluid"
	ng-style="{'z-index' : isMobile ? 0 : 1, 'top': isMobile ? '0em' : '14em'}" style="position: relative; margin-left: 3%; margin-right:3%">
	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-7">
			<h2>Product sales chart</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
	    <div class="col-sm-10">
	        <div class="row" style="height: 500px">
                <canvas id="productSalesChart"></canvas>
	        </div>
	    </div>
	    <div class="col-sm-1">
    	</div>
	</div>

	<div class="row" style="margin-top: 5em">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-7">
			<h2>Product count chart</h2>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<div class="form-group col-xs-6">
					<input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From"
						bs-datepicker>
				</div>
				<div class="form-group col-xs-6">
					<input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Until"
						bs-datepicker>
				</div>
			</div>
			<button class="btn btn-primary" ng-click="clearChart()" style="margin-left: 1em">
				Clear
			</button>
			<button class="btn btn-primary" ng-click="addAll()">
				Add all
			</button>
			<button class="btn btn-primary" ng-click="openAddProductModal()">
				Edit
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
	    <div class="col-sm-10">
	        <div class="row" style="height: 500px">
                <canvas id="productCountChart"></canvas>
	        </div>
	    </div>
		<div class="col-sm-1">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-7">
			<h2>Sales per Month</h2>
			<h3>Average: {{averageSales}} Kč, Current month: {{lastMonthSales}} Kč</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
	    <div class="col-sm-10">
	        <div class="row" style="height: 400px">
                <canvas id="totalSalesChart"></canvas>
	        </div>
	    </div>
	    <div class="col-sm-1">
		</div>
	</div>

	<br/><br/>
	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-7">
			<h2>Paid orders per Month</h2>
			<h3>Average: {{averageNumberOfOrders}}, Current month: {{lastMonthOrders}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
	    <div class="col-sm-10">
	        <div class="row" style="height: 500px">
                <canvas id="vsCashSalesChart"></canvas>
	        </div>
	    </div>
	    <div class="col-sm-1">
		</div>
	</div>

	<br/><br/>
	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-7">
			<h2>Ordered orders per Month</h2>
			<h3>Average: {{averageNumberOfOrderedOrders}}, Current month: {{lastMonthOrderedOrders}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
	    <div class="col-sm-10">
	        <div class="row" style="height: 500px">
                <canvas id="orderedVsCashSalesChart"></canvas>
	        </div>
	    </div>
	    <div class="col-sm-1">
		</div>
	</div>
	<br/><br/><br/><br/><br/><br/><br/><br/>
</div>