<div class="container-fluid"
	ng-style="{'z-index' : isMobile ? 0 : 2, 'top': isMobile ? '0em' : '3.7em', 'position': isMobile ? 'relative' : 'fixed'}"
    style="background: white; left: 0; right: 0; padding-left: 3%; padding-right:3%;">
    <div class="row" style="padding-top: 1em">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-7">
            <h1>Gmail</h1>
        </div>
    </div>
</div>
<div class="container-fluid"
	ng-style="{'z-index' : isMobile ? 0 : 1, 'top': isMobile ? '0em' : '14em'}" style="position: relative; margin-left: 3%; margin-right:3%">
	<div class="row">
        suck my dick gmail {{gmail}}
        <img src="google.png" ng-click="login()">
	</div>
	
	<br/><br/><br/><br/><br/><br/><br/><br/>
</div>