<div class="container-fluid"
	ng-style="{'z-index' : isMobile ? 0 : 2, 'top': isMobile ? '0em' : '3.7em', 'position': isMobile ? 'relative' : 'fixed'}"
    style="background: white; left: 0; right: 0; padding-left: 3%; padding-right:3%;">
    <div class="row" style="padding-top: 1em">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-7">
            <h1>Gmail</h1>
        </div>
    </div>
</div>
<div class="container-fluid"
	ng-style="{'z-index' : isMobile ? 0 : 1, 'top': isMobile ? '0em' : '14em'}" style="position: relative; margin-left: 3%; margin-right:3%">
	<div class="row">
		<span style="margin-left: 45em" ng-show="!loggedIn">
			<img src="google.png" ng-click="login()">
		</span>
	</div>

	<div class="row" ng-show="loggedIn && emails">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Subject</th>
					<th>From</th>
					<th>Date</th>
					<th>Snippet</th>
					<!-- <th>Body</th> -->
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="email in emails">
					<td>{{email.subject}}</td>
					<td>{{email.from}}</td>
					<td>{{email.date | date:'h:mm:ss dd.MM.yyyy'}}</td>
					<td>{{email.snippet}}</td>
					<!-- <td>{{body(email.body)}}</td> -->
				</tr>
			</tbody>
		</table>
	</div>
	
	<br/><br/><br/><br/><br/><br/><br/><br/>
</div>