<div class="container-fluid"
	ng-style="{'z-index' : isMobile ? 0 : 2, 'top': isMobile ? '0em' : '3.7em', 'position': isMobile ? 'relative' : 'fixed'}"
    style="background: white; left: 0; right: 0; padding-left: 3%; padding-right:3%;">
    <div class="row" style="padding-top: 1em">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-8">
            <h1>
				Purchases
				<label class="btn btn-default btn-sm" ng-click="openAddModal()">
					Create purchase
				</label>
			</h1>
        </div>
        <div ng-if="loading" class="col-md-2 col-sm-offset-5" style="position: fixed; margin-top: 2em; z-index: 999999">
            <img src="loading.svg" width="40" height="40" style="margin-left: 6.5em"/>
        </div>
    </div>
</div>
<div class="container-fluid"
	ng-style="{'z-index' : isMobile ? 0 : 1, 'top': isMobile ? '0em' : '14em'}" style="position: relative; margin-left: 3%; margin-right:3%">
	<div class="row" ng-show="!loading && purchases && purchases.length > 0">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>User</th>
					<th>To</th>
					<th>Date</th>
					<th>Products</th>
					<!-- <th>Body</th> -->
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="purchase in purchases">
					<td>{{purchase.user}}</td>
					<td>{{purchase.to}}</td>
					<td>{{purchase.date | date:'h:mm:ss dd.MM.yyyy'}}</td>
					<td>{{printProducts(purchase.products)}}</td>
				</tr>
			</tbody>
		</table>
		<br/><br/>
        <br/><br/>
	</div>
</div>