<div class="container-fluid"
	ng-style="{'z-index' : isMobile ? 0 : 2, 'top': isMobile ? '0em' : '3.7em', 'position': isMobile ? 'relative' : 'fixed'}"
    style="background: white; left: 0; right: 0; padding-left: 3%; padding-right:3%;">
    <div class="row" style="padding-top: 1em">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-7">
            <h1>Summary</h1>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

    <div class="row" ng-show="!isMobile">
    	<div class="col-sm-2"></div>
	    <div class="col-sm-8">
	        <div class="col-sm-3" style="text-align: center">
	            <h3><span ng-if="summaryFilter == 'Monthly'">Date</span><span ng-if="summaryFilter == 'Daily'">Day</span></h3>
	        </div>
	        <div class="col-sm-3" style="text-align: center">
	        	<h3>Turnover</h3>
	        </div>
	        <div class="col-sm-3" style="text-align: center">
	        	<h3>Costs</h3>
	        </div>
	        <div class="col-sm-3" style="text-align: center">
	        	<h3>Profit</h3>
	        </div>
	    </div>
	    <div class="col-sm-2">
    	</div>
    </div>
</div>
<div class="container-fluid"
	ng-style="{'z-index' : isMobile ? 0 : 1, 'top': isMobile ? '0em' : '14em'}" style="position: relative; margin-left: 3%; margin-right:3%">
	<div class="row" ng-repeat="(key, value) in mappedSummary">
		<div class="col-sm-2"></div>
	    <div class="col-sm-8">
	        <div class="row">
	            <div class="col-sm-3" style="text-align: center">
					<span ng-show="isMobile"><small>Period: </small></span>
					<strong>{{key}}</strong>
	            </div>
	            <div class="col-sm-3" style="text-align: center">
					<span ng-show="isMobile"><small>Turnover: </small></span>
					{{formatToThousands(value.turnover)}} Kč
	            </div>
	            <div class="col-sm-3" style="text-align: center">
					<span ng-show="isMobile"><small>Costs: </small></span>
					{{formatToThousands(value.costs)}} Kč
	            </div>
	            <div class="col-sm-3" style="text-align: center">
					<span ng-show="isMobile"><small>Profit: </small></span>
					{{formatToThousands(roundNumber(value.profit))}} Kč
	            </div>
	        </div>
	        <hr style="margin-top: 0px; margin-bottom: 0.3em" ng-if="!$last">
	    </div>
	    <div class="col-sm-3">
    	</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-7">
            <h1>Total</h1>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <div class="row" ng-show="!isMobile">
    	<div class="col-sm-2"></div>
	    <div class="col-sm-8">
	        <div class="col-sm-3">
	        </div>
	        <div class="col-sm-3" style="text-align: center">
	        	<h2>Turnover</h2>
	        </div>
	        <div class="col-sm-3" style="text-align: center">
	        	<h2>Costs</h2>
	        </div>
	        <div class="col-sm-3" style="text-align: center">
	        	<h2>Profit</h2>
	        </div>
	    </div>
	    <div class="col-sm-3">
    	</div>
    </div>
    <div class="row">
		<div class="col-sm-2"></div>
	    <div class="col-sm-8">
	        <div class="row">
	            <div class="col-sm-3">
	            </div>
	            <div class="col-sm-3" style="text-align: center">
					<span ng-show="isMobile"><small>Total Turnover: </small></span>
					{{formatToThousands(totalTurnover)}} Kč
	            </div>
	            <div class="col-sm-3" style="text-align: center">
					<span ng-show="isMobile"><small>Total Costs: </small></span>
					{{formatToThousands(totalCosts)}} Kč
	            </div>
	            <div class="col-sm-3" style="text-align: center">
					<span ng-show="isMobile"><small>Total Profit: </small></span>
					{{formatToThousands(roundNumber(totalTurnover - totalCosts - totalDeliveryCosts))}} Kč
	            </div>
	        </div>
	    </div>
	    <div class="col-sm-3">
    	</div>
	</div>
	<br/><br/><br/><br/>
</div>